trigger: none
name: $(date:yyMMdd)$(rev:rr)
variables:
- name: SigningSolutionRoot
  value: $(Build.ArtifactStagingDirectory)/VSInsertion/Signing
- name: TeamName
  value: vcls
resources:
  repositories:
  - repository: MicroBuildTemplate
    type: git
    name: 1ESPipelineTemplates/MicroBuildTemplate
    ref: refs/tags/release
extends:
  template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
  parameters:
    sdl:
      policheck:
        enabled: true
    pool:
      name: VSEngSS-MicroBuild2022-1ES
    customBuildTags:
    - $(custom-build-tag)
    stages:
    - stage: stage
      jobs:
      - job: Job_1
        displayName: Release
        cancelTimeoutInMinutes: 1
        templateContext:
          mb:
            signing:
              enabled: true
              signType: 'real'
              signWithProd: true
              zipSources: false
          outputs:
          - output: nuget
            displayName: Publish NuGet Package
            packageParentPath: $(Build.ArtifactStagingDirectory)
            packagesToPush: $(Build.ArtifactStagingDirectory)/*.nupkg
            publishVstsFeed: $(feed-publish)
            codeSignValidationEnabled: false
          - output: nuget
            displayName: Publish NuGet Package
            packageParentPath: $(Build.ArtifactStagingDirectory)
            packagesToPush: $(Build.ArtifactStagingDirectory)/*.nupkg
            publishVstsFeed: $(feed-publish2)
            codeSignValidationEnabled: false
        steps:
        - checkout: self
          clean: true
          persistCredentials: True
        - task: PowerShell@2
          displayName: Set Version String
          inputs:
            filePath: $(Build.SourcesDirectory)\set_version.ps1
            arguments: -BuildNumber $(Build.BuildNumber)
        - task: NuGetCommand@2
          displayName: NuGet restore vcperf solution
          inputs:
            solution: vcperf.sln
        - task: VSBuild@1
          displayName: Build x64 vcperf
          inputs:
            solution: vcperf.sln
            msbuildArgs: /p:ExternalPreprocessorDefinitions="VCPERF_VERSION=$(VersionString)"
            platform: x64
            configuration: Release
            clean: true
            createLogFile: true
            logFileVerbosity: diagnostic
        - task: VSBuild@1
          displayName: Build x86 vcperf
          inputs:
            solution: vcperf.sln
            msbuildArgs: /p:ExternalPreprocessorDefinitions="VCPERF_VERSION=$(VersionString)"
            platform: x86
            configuration: Release
            clean: true
            createLogFile: true
            logFileVerbosity: diagnostic
        - task: VSBuild@1
          displayName: Build ARM64 vcperf
          inputs:
            solution: vcperf.sln
            msbuildArgs: /p:ExternalPreprocessorDefinitions="VCPERF_VERSION=$(VersionString)"
            platform: ARM64
            configuration: Release   
            createLogFile: true
            logFileVerbosity: diagnostic
        - task: securedevelopmentteam.vss-secure-development-tools.build-task-prefast.SDLNativeRules@3
          displayName: 'Run the PREfast SDL Native Rules for MSBuild x86, x64 & arm64'
          env:
            SYSTEM_ACCESSTOKEN: $(System.AccessToken)
          inputs:
            publishXML: true
            userProvideBuildInfo: auto
            setupCommandlinePicker: vs2022
        - task: NuGetCommand@2
          name: NuGetRestoreSigningSolution
          displayName: NuGet restore for Signing Solution
          inputs:
            solution: $(SigningSolutionRoot)/SigningSolution.sln
            selectOrConfig: config
        - task: VSBuild@1
          name: VSBuild12
          displayName: Trigger Signing
          inputs:
            solution: $(SigningSolutionRoot)\SigningSolution.sln
            vsVersion: 17.0
            platform: Any CPU
            configuration: Debug
        - task: NuGetCommand@2
          displayName: Create NuGet Package
          inputs:
            command: custom
            arguments: pack $(Build.SourcesDirectory)\vcperf.nuspec -Tool -Version $(VersionString) -BasePath $(Build.SourcesDirectory) -NoPackageAnalysis -OutputDirectory $(Build.ArtifactStagingDirectory)
        - task: APIScan@2
          displayName: Run APIScan
          inputs:
            azureSubscription: 'VSEng-APIScanSC' 
            softwareFolder: '$(Build.SourcesDirectory)/out/Release/x64;$(Build.SourcesDirectory)/out/Release/x86'
            softwareName: 'VCPerf'
            softwareVersionNum: '$(VersionString)'
            symbolsFolder: '$(Build.SourcesDirectory)'
            isLargeApp: false
            preserveTempFiles: true
            toolVersion: LatestPreRelease
          env:
            AzureServicesAuthConnectionString: RunAs=App;AppId=d318cba7-db4d-4fb3-99e1-01879cb74e91;TenantId=72f988bf-86f1-41af-91ab-2d7cd011db47;ServiceConnectionId=93e24264-c5e6-4681-8175-ec8a41668480;
            SYSTEM_ACCESSTOKEN: $(System.AccessToken)
